header {
  background-color: rgb(255, 111, 111);

}

/*body {
  box-sizing: border-box;
}*/

.header_title {
  margin: 0.5em;
  float: top; left;
  width: 40%;
  clear: both;
  box-sizing: border-box;
}

main {
  margin: 5%;
}


section {
  border: 1px solid rgb(255, 0, 0);
  width: 30%;
}

aside {
  border: 1px solid rgb(0, 0, 0);
}

nav {
  box-sizing: border-box;
  float: top; right;
  width: 40%;
  margin: 0.5em;
  clear: both;
}
