header {
  background-color: rgb(255, 111, 111);

}

/*body {
  box-sizing: border-box;
}*/

.header_title {
  margin: 0.5em;
  float: top; left;
  width: 40%;
  clear: both;
  box-sizing: border-box;
}

main {
  margin: 5%;
}


section {
  border: 1px solid rgb(255, 0, 0);
  width: 30%;
}

aside {
  border: 1px solid rgb(0, 0, 0);
}

.header_right {
  box-sizing: border-box;
  float: top; right;
  width: 40%;
  margin: 0.5em;
  clear: both;
}

h1.profile_block {
  box-sizing: border-box;
  float: right;
  width: 50%;
}

p.profile_block {
  box-sizing: border-box;
  float: right;
}

img {
  display: block;
  float: left;
}
