
header {
  color: rgb(255, 255, 255);
  background-color: rgb(152, 227, 240);
  padding: 1em 3% 1em 3%;
}

header h1 {
  font-size: 100%;
  float: left;
  display: block;
  width: 75%;
}
header p {
  margin: 0;
  display: inline;
  text-align: right;
  padding-left: 3em;
}

body {
  font-family: arial, sans-serif;
}
section {
  border-top: 1px solid rgb(0,0,0);
  border-left: 1px solid rgb(0,0,0);
  border-right: 1px solid rgb(0,0,0);
  float: left;
  width: 25%;
  margin: 3%;
}

aside {
  border-bottom: 1px solid rgb(0,0,0);
}

aside::after {
  content: '';
  display: block;
  clear: both;
}

aside.profile_block {
  padding: 1em;
}

h1 {
  margin: 0;
}

h1.profile_block {
  box-sizing: border-box;
  float: right;
  width: 50%;
}

p.profile_block {
  box-sizing: border-box;
  float: right;
  width: 50%;
}

img {
  display: block;
  float: left;
  width: 25%;
  margin-right: 1em;
  border-radius: 10%;
}

.filename {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 30%;
  margin-left: 1em;
}

.codeLang {
  display: block;
  float: right;
  box-sizing: border-box;
  width: 30%;
  font-weight: bold;
  text-align: right;
  margin-right: 1em;

}

.repo-language-color {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}
